.node {
  stroke-width: 2;
  cursor: pointer;
  fill: #fefae0;
  stroke: #ccd5ae;
}
.node:hover {
  fill: #e9edc9;
}

.node:focus {
  outline: none;
  stroke-width: 4;
  stroke: #e57a44;
}

.pipe {
  fill: #e7c8a0;
  stroke: #d4a373;
}
.source,
.sink {
  /* fill: red; */
}

.selected {
  stroke: #0e1c36;
}

.active,
.active:focus {
  fill: #faedcd;
  stroke: #b0a1ba;
}
