.node {
  stroke-width: 2;
  cursor: pointer;
  fill: #fefae0;
  stroke: #ccd5ae;
}
.node:hover {
  fill: #e9edc9;
}

.pipe {
  fill: #e7c8a0;
  stroke: #d4a373;
}
.source,
.sink {
  /* fill: red; */
}

.selected {
  stroke: #0e1c36;
}
